//Resetting default styles
*, *::after, *::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Roboto', sans-serif;
    font-size: 100%;
}

.btn{
    all: unset;
    cursor: pointer;
}

a{
    text-decoration: none;
    color: $clr-white;
}

.wd-1440{
    max-width: 1440px;
    margin: 0 auto;
}